{% extends "store/base.html" %}
{% block content %}

<h1>Welcome to the CHAT ROOMS!</h1>
<h3> A cool place to meet other cats..</h3>
<div class="block">
    <p>Please enter the name of your chat room.</p>
    <input id="room-name-input" type="text" size="70" placeholder="eg. cats">
    <input style="color: palevioletred;" id="room-name-submit" type="button" value="ENTER">
</div>
<br>
<br>
<br>
{% endblock %}
{% block script %}
<script>
    document.getElementById('room-name-input').focus();
    document.getElementById('room-name-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.getElementById('room-name-submit').click();
        }
    };

    document.getElementById('room-name-submit').onclick = function (e) {
        var roomName = document.getElementById('room-name-input').value;
        window.location.pathname = '/chat/' + roomName + '/';
    };
</script>
{% endblock %}