{% extends "store/base.html" %}
{% block content %}

<h1>Welcome to your profile!</h1>
<h3>Feel free to edit your account as needed.</h3>

<div class="block">
    <a href="{% url 'account:orderHistory' %}">View your order history</a>
    <p>
    <div class="orderBlock">
        Username: {{request.user.username}}
        <br>Email: {{request.user.email}}
        <br>Full name: {{request.user.get_full_name}}
        <br> Contact number: {{address.phone_num}}
    </div>

    {% if addresses %}
    <div class="addressContainer">
        <p>Shipping Address(es):</p>
    {% for address in addresses %}
        <div class="addressBlock">
            {{address.street1}}
            <br> {{address.street2}}
            <br>{{address.postal_code}} {{address.city}}, {{address.province}}
            <br>{{address.country}}
            <br>━━━━━━━━━━✫・*。
        </div>
    {% endfor %}
    </div>
    {% endif %}
    <div style="padding-top: 10px;">
    <form action="{% url 'account:add_address' %}">
        <input type="submit" value="Add an address" />
    </form>
    </div>
    <br>

Changing password.
add profile image.
change username and stuff like that
</div>
{% endblock %}
<br>
