{% extends "store/base.html" %}
{% block content %}
<h1>Add an item to sell</h1>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        Name: <input type="text" name="name" value="{{form.data.name}}"/>
        {{form.name.errors}}
    </div>
    <div>
        Image: <input type="file" name="image" />
        {{form.image.errors}}
    </div>
    <div>
        Description: <input type="text" name="description" />
        {{form.description.errors}}
    </div>
    <div>
        Set price: $<input type="number" min="0" name="price" />
        {{form.price.errors}}
    </div>
    <div>
        In inventory: <input type="number" min="0" name="inventory" />
        {{form.inventory.errors}}
    </div>
    <input type="submit" value="Add"/>
</form>
{% endblock %}
