{% extends "store/base.html" %}
{% block content %}
<h1>YOUR CART</h1>
{% if items %}
<table>
    <thead>
    <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr>
        <td>
            <a href="{% url 'account:product_detail' item.item.id %}">{{item.item.name}}</a>
        </td>
        <td>${{item.item.price}}</td>
        <td>{{item.count}}</td>
        <td class="noBorder"><a href="{% url 'account:remove_from_basket' item.item.id %}">remove</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<p><strong>Total: </strong> ${{total}}</p>
<button onclick="document.location = 'checkout'">Checkout</button></br>
{% else %}
Oh MEOWW! You dont have anything in your basket!
{% endif %}
{% endblock %}