{% extends "store/base.html" %}
{% block content %}

<h1>CHECKOUT OUT</h1>
<h2 style="color:plum"> Wow! You're close to ordering!!</h2>
<div class="block">
    {% if list %}
    <table>
        <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        {% for item in list %}
        <tr>
            <td>{{item.item.name}}</td>
            <td>${{item.item.price}}</td>
            <td>{{item.count}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <p><strong>Total: </strong> ${{total}}</p>
    <h3>Choose Your Shipping Address</h3>
    {% if addresses %}
    <form action="" method="post">
        <div class="addressContainer">
            {% csrf_token %}
            {% for address in addresses %}
            <div class="addressBlock">
                <input type="radio" name="addressChoice" value="{{address.id}}" required/>
                <br>{{address.street1}}
                <br> {{address.street2}}
                <br>{{address.postal_code}} {{address.city}}, {{address.province}}
                <br>{{address.country}}
                <br>━━━━━━━━━━✫・*。
            </div>
            {% endfor %}
        </div>
        <div>
            <a href="{% url 'account:add_address2' %}">Need to add another address?</a>
        </div>
        <br>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="{{ key }}"
                data-description="A Django Charge"
                data-amount="{{basket.totalAmount}}"
                data-locale="auto">

        </script>
        {% else %}
        <div>
            <a href="{% url 'account:add_address2' %}">Need to add another address?</a>
        </div>
        <h4>You must add an address to make a payment</h4>
        {% endif %}
        <br>
    </form>
    <br>
</div>
{% endif %}
{% endblock %}