{% extends "store/base.html" %}
{% block content %}
<h1>CHECKOUT OUT</h1>
<h2 style="color: plum"> Wow! You're close to ordering!!</h2>
<div class="block">
{% if list %}
<table>
    <thead>
    <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    {% for item in list %}
    <tr>
        <td>{{item.item.name}}</td>
        <td>${{item.item.price}}</td>
        <td>{{item.count}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<p><strong>Total: </strong> ${{total}}</p>
<h3>Choose Your Shipping Address</h3>
    {% if addresses %}
    <div class="addressContainer">
        <form action="{% url 'account:checkout' %}" method="post">
            {% csrf_token %}
        {% for address in addresses %}
        <div class="addressBlock">
            <input type="radio" name="addressChoice" value="{{address.id}}" required/>
            <br>{{address.street1}}
            <br> {{address.street2}}
            <br>{{address.postal_code}} {{address.city}}, {{address.province}}
            <br>{{address.country}}
            <br>━━━━━━━━━━✫・*。
        </div>
        {% endfor %}

    </div>
    {% endif %}
    <div>
        <a href="{% url 'account:add_address2' %}">Need to add another address?</a>
    </div>

    <h3>Method of Payment</h3>
    <input type="radio" name="payment_option" value="C" required/> Credit Card
    <input type="radio" name="payment_option" value="P" required/> PayPal
    <h6>Payment functionality not implemented</h6>
    <input type="submit" style="color: tomato" value="CHECKOUT!!"/>
</form>
{% endif %}

</div>
{% endblock %}