{% extends "store/base.html" %}
{% block content %}
<h1>Viewing item : {{item.name}} </h1>
<h3>Info Page for this product. Message the seller if you're curious! </h3>

<div class="block">
    <div class="productContainer">
        <img class="itemSizing itemBorder" src="{{item.image.url}}"/>
<div class="productBlock">
    Price : ${{item.price}}
    <p>Seller : <a href="{% url 'account:profile' item.seller.id %}">{{item.seller.username}}</a>
    <p>Description: {{item.description}}
    {% if item.inventory > 0 %}
    <p>In stock : {{item.inventory}}
{% if item.seller != request.user %}
<form action="{% url 'account:add_to_basket' item.id %}" method="POST">
    {% csrf_token %}
    <input type="number" min="1" max="{{item.inventory}}" name="count" style="width: 40px"/>
    <input type="submit"  style="color: palevioletred" value="Add to basket"/>
    {{form.count.errors}}
</form></div>
{% endif %}
{% else %}
<p>In stock: SOLD OUT!! Backordered!!</p>
{% endif %}
</div></div>
{% endblock %}
<br>