{% extends "store/base.html" %}
{% block content %}
<h1 style="text-align: center;"> Welcome to {{seller.username}}'s store </h1>
{% if request.user.username == seller.username  %}
<div class="itemBlock">
    <button onclick="document.location = 'add_product'">Add new item!</button>
</div>
{% endif %}
{% if items %}
<div class="allPosts">
    {% for item in items %}
    <div class="posts">
        <img src="{{item.image.url}}" alt=" {{item.name}}"/>
        <div class="postContent">
            <a style="color: mediumorchid;" href="{% url 'account:product_detail' item.id %}">Item name:
                {{item.name}}</a>
            <p style="color: mediumaquamarine;">Price : ${{item.price}}</p>
            <p style="color: mediumaquamarine;">Available : {{item.inventory}}</p>
        </div>
    </div>
    <br>
    {% endfor %}
</div>
</div>
<br>
{% else %}
<div class="block">
{% if request.user.is_authenticated %}
Your store's current inventory is feeling a bit empty! MEOW!
{% else %}
{{seller}} has nothing to sell at the moment! Come back later :)
{% endif %}
{% endif %}
</div>
{% endblock %}