{% extends "store/base.html" %}
{% block content %}
<h1>Add a new shipping address</h1>
<div class="block">
<form action="" method="POST">
    {% csrf_token %}
    <p>
        Street address:
        <div>
            <input type="text" name="street1" value="{{form.data.street1}}" placeholder="Street and number, P.O. box,c/o"/>
            {{form.street1.errors}}
        </div>
        <div>
            <input type="text" name="street2" value="{{form.data.street2}}" placeholder="Apartment,suite,unit,building,floor,etc."/>
            {{form.street2.errors}}
        </div>
    </p>
    <p>
        City : <input type="text" name="city" value="{{form.data.city}}"/>
        {{form.city.errors}}
    </p>
    <p>
        Province : <input type="text" name="province" value="{{form.data.province}}"/>
        {{form.province.errors}}
    </p>
    <p>
        Postal code : <input type="text" name="postal_code" value="{{form.data.postal_code}}"/>
        {{form.postal_code.errors}}
    </p>
    <p>
        Country : <input type="text" name="country" value="{{form.data.country}}"/>
        {{form.country.errors}}
    </p>
    <p>
        <input type="submit" value="Add Address"/>
    </p>
</form>
</div>
{% endblock %}