@import url('https://fonts.googleapis.com/css?family=Cardo&display=swap');

html {
    height: 100%;
    scroll-behavior: smooth;
}

.product {
 height: 400px;
 width: 350px;
 overflow: hidden;
}
.product img {
 height: auto;
 width: 350px;

}

th, td {
  border: 1px solid black;
  border-collapse: collapse;
    padding: 10px;
}

.noBorder {
    border:none;
}

a {
    font-weight: bold;
    color: plum;
    text-decoration: none;
    position: relative;
    font-size:15px;
    padding-right: 10px;
    padding-left: 10px;
}

a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    background: darkslategray;

    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover {
    color: palevioletred;
}
a:hover:after {
    width: 100%;
    left: 0;
}

.roses {
    background-position-y: 10px;
    background-repeat: repeat-x;
    background-image: url("rose2.gif");
}

.block {
    background-color: lavender;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.shippingAddress {
    padding-left: 20px;
    color: seagreen;
}

.allPosts {
    background-color: lavender;
    margin: auto;
    max-width: 800px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.posts {
    margin: 0px auto;
    width: 500px;
    min-width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    vertical-align: center;

}
.posts img{
    height: auto;
    max-width: 200px;
    vertical-align: middle;
}

.postContent {
    float: right;
    text-align: center;
    padding: 30px 30px;
}

h1,h2 {
    color: mediumorchid;
}

h3,h4 {
    color: darkseagreen;
}