
{% extends "store/base.html" %}
{% block content %}
<h1 style="color:mediumorchid; text-align: center;"> MARKETPLACE</h1>
{% if all_products %}
<div class="allPosts">
        {% for product in all_products %}
            <div class="posts">
                <img src="{{product.image.url}}" alt="{{product.name}}"/>
                <div class="postContent">
                    <a  style="color: mediumorchid;" href="{% url 'account:product_detail' product.id %}">Item: {{product.name}}</a>
                    <p  style="color: mediumaquamarine;">Price: {{product.price}}</p>
                    <p  style="color: mediumaquamarine;">Seller: {{product.seller}}</p>
                </div>
            </div><p></p>
        {% endfor %}
</div>


{% else %}
   <p>OOPPSYY, WE DONT HAVE ANYTHING TO SELL. HEHE ^_^</p>

{% endif %}
{% endblock %}









