
{% extends "store/base.html" %}
{% block content %}

<marquee width="100%" direction="right" scrollamount="12">
    <h4 style="text-align: center;">CURRENT DELIVERY TIMES DELAYED BY 6-8 DAYS!</h4>
</marquee>


{% if all_products %}
    <ul>
        {% for product in all_products %}
        <li>
            <a href="{% url 'account:product_detail' product.id %}">Item: {{product.name}}</a>
            <p class="testColor">Seller: {{product.seller}}</p>
            <div class="index"><img src="{{product.image.url}}" alt="{{product.name}}"/></div>
        </li>
        {% endfor %}
    </ul>
{% else %}
   <p>OOPPSYY, WE DONT HAVE ANYTHING TO SELL. HEHE ^_^</p>

{% endif %}
{% endblock %}