<p>
    <a href="{% url 'index' %}">Home</a>
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'signup' %}">Signup</a>
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
</p>
<h1>Login</h1>
<div>{{ form.non_field_errors }}</div>
<form action="" method="post">
    {% csrf_token %}
    <p>
      Username: <input type="text" name="username" />
      {{ form.username.errors }}
    </p>
      Password: <input type="password" name="password" />
      {{ form.password.errors }}
    </p>
    <p>
      <input type="submit" value="Login" />
    </p>
</form>